.todo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 5px auto;
  background: #1e1e1e;
  padding: 14px 16px;
  border-radius: 14px;

  color: #ffffff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
  max-width: 700px;
  width: 100%;
}

/* Checkbox */
.todo input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #ff9800;
}


/* Text input */
.todo input[type="text"] {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 16px;
}

/* Buttons */
.todo button {
  background: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  padding: 6px;
  border-radius: 6px;
  transition: background 0.2s ease;
}

.todo button:hover {
  background: rgba(255, 255, 255, 0.12);
}

.complete {
  text-decoration: line-through;
  opacity: 0.5;
}
.todo input[type="text"].active {
  border: 1px solid #f4caa024;
  border-radius: 6px;
  padding: 5px 10px;
}

.boxcomplete {
  opacity: 0.5;
}